/* cursor:pointer; تغير شكل الموس*/

* {
  border: none;
  outline: none;
  margin: 0px;
  padding: 0px;
  position: relative;
  list-style-type: none;
  text-decoration: none;
}

body {
  height: 100svh;
  max-height: 100svh;

  max-width: 100svw;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 100px 1fr;
  grid-template-areas:
    "h h"
    "a m";
  background-image: linear-gradient(
    to bottom right,
    black 0% 30%,
    darkred 45% 70%
  );
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 0% 5%;
}
header {
  grid-area: h;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* background-color: rgba(209, 208, 208, 0.252); */
  gap: 10px;
  padding: 10px;
}

.searchInput {
  width: 50.5%;
  border: 2px solid black;
  background-color: whitesmoke;
  border-radius: 15px;
  padding: 15px;
  color: red;
  position: relative;
  z-index: 2;
  opacity: 0;
}

.aTags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.searchInput:active {
  opacity: 1;
}

.searchInput:hover {
  opacity: 1;
}

.oversearchInput {
  position: absolute;
  width: 49.3%;
  height: 15px;
  border-radius: 15px;
  padding: 15px;
  color: red;
  content: "  H| ";
  background-color: whitesmoke;
  border: 2px solid black;
  top: 25px;
}

.oversearchInput::after {
  content: "  E| ";
  color: rgb(255, 0, 0);
  animation-name: t;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes t {
  0% {
    content: "Enter|";
  }
  20% {
    content: "Enter yo|";
  }
  40% {
    content: "Enter your sea|";
  }
  60% {
    content: "Enter your search|";
  }
  90% {
    content: "Enter your search here";
  }
  100% {
    content: "Enter your search here";
  }
}

.aTags {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  /* display: grid;
    grid-template-columns: 1fr 1fr; */
  gap: 10px;
}

.tags:hover {
  background-color: rgba(197, 117, 25, 0.555);
  border: 1px solid rgba(197, 117, 25, 0.555);
}

.tags {
  text-align: center;
  color: aliceblue;
  background-color: rgba(191, 96, 239, 0.31);
  padding: 5px 10px;
  border: 1px solid rgba(191, 96, 239, 0.31);
  border-radius: 10px;
  cursor: pointer;
  font-family: "DynaPuff", system-ui;
}

/* =========================================================== */
aside {
  grid-area: a;
  margin-bottom: 5%;
}

main {
  grid-area: m;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
  margin-bottom: 5%;
}

.contDiv {
  background-color: white;
  width: 80%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
}

.contDiv li {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tposts {
  font-weight: bold;
  text-align: center;
  color: rgb(47, 144, 144);
}

.pposts {
  text-align: left;
  color: rgb(27, 27, 27);
  font-family: "Texturina", serif;
}

.divSpans {
  display: flex;
  justify-content: start;
  gap: 20px;
}

.tagspan {
  border: 1px solid rgba(130, 250, 194, 0.393);
  background-color: rgba(130, 250, 194, 0.393);
  border-radius: 30px;
  padding: 5px;
  font-weight: bold;
}

.interaction {
  display: flex;
  padding: 10px;
  border-top: 1px solid black;
  justify-content: start;
  align-items: center;
  gap: 40px;
}

.view {
  color: aqua;
}

.like {
  color: crimson;
}

.dislike {
  color: black;
}

.copy {
  border: 1px solid black;
  padding: 5px 8px;
  border-radius: 100px;
  color: black;
  position: absolute;
  right: 0px;
}

.copy:hover {
  width: 30px;
  height: 30px;
  background-color: rgba(199, 124, 48, 0.521);
  border-radius: 10px;
  box-shadow: 0px 8px 30px -5px #14ceb5;
}

/* =========================== */

@media (max-width: 800px) {
  body {
    height: 100svh;
    max-height: 100svh;

    max-width: 100svw;
    display: grid;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 100px 1fr 50px;
    grid-template-areas:
      "h h"
      "a m"
      "f f";
  }

  header {
    grid-area: h;
  }

  main {
    grid-area: m;
  }

  aside {
    grid-area: a;
  }

  .tags {
    display: grid;
    grid-template-columns: 70px 3fr;
    font-size: 10px;

    
    color: aliceblue;
    background-color:rgba(0, 0, 0, 0);
    border: none;
  }

  .tagsT{
    background-color: rgba(191, 96, 239, 0.31);
    padding: 5px 5px;
    border: 1px solid rgba(191, 96, 239, 0.31);
    border-radius: 10px;
    cursor: pointer;
    font-family: "DynaPuff", system-ui;
  }

  .tags:hover{
    background-color: #14ceb500;
    border: none;
  }

  .tagsT:hover{
    background-color: rgba(197, 117, 25, 0.555);
    border: 1px solid rgba(197, 117, 25, 0.555);
  }

  .contDiv {
    background-color: rgba(255, 255, 255, 0.352);
    width: 95%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 20px;
  }

  .contDiv li {
    padding: 20px;
  }

  .tposts {
    margin-bottom: 10px;
  }

  .contDiv:hover {
    .tposts {
      color: red;
    }

    .pposts {
      color: white;
    }
  }

  footer {
    grid-area: f;
  }

  footer span {
    background-color: white;
    border-radius: 5px 5px 0px 0px;
  }


  .oversearchInput {
    position: absolute;
    width: 48.8%;
    height: 15px;
    border-radius: 15px;
    padding: 15px;
    color: red;
    content: "  H| ";
    background-color: whitesmoke;
    border: 2px solid black;
    top: 25px;
  }

}

footer span {
  background-color: white;
  border-radius: 5px 5px 0px 0px;
}
